/* line 1, Z:/Team-Treehouse-Project-9/scss/styles.scss */
html {
  min-width: 100vw;
  min-height: 100vw;
  z-index: 0;
}

/* line 7, Z:/Team-Treehouse-Project-9/scss/styles.scss */
body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  background: #41b3a3;
  background: radial-gradient(circle, #41b3a3 0%, #85dcb0 100%);
}

/* line 14, Z:/Team-Treehouse-Project-9/scss/styles.scss */
#overlay {
  height: 100vw;
}

/* line 18, Z:/Team-Treehouse-Project-9/scss/styles.scss */
.overlay-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

/* line 20, Z:/Team-Treehouse-Project-9/scss/styles.scss */
.overlay-content .headerName {
  font-size: 6em;
  margin: 0;
  z-index: 1;
  position: absolute;
  color: white;
  animation: intro 1s ease-in forwards;
}

/* line 29, Z:/Team-Treehouse-Project-9/scss/styles.scss */
.overlay-content .profile-pic {
  border: white solid thin;
  border-radius: 50%;
  height: 16em;
  width: 16em;
  object-fit: cover;
  z-index: 2;
  animation: profile-picture 3s ease-in-out infinite;
  filter: grayscale(100%);
  box-shadow: 0px 0px 6em 0.5em rgba(255, 255, 255, 0.75);
}

/* line 39, Z:/Team-Treehouse-Project-9/scss/styles.scss */
.overlay-content .profile-pic:hover {
  filter: none;
  transform: scale(0.99);
  transition: transform 2s ease;
}

/* line 53, Z:/Team-Treehouse-Project-9/scss/styles.scss */
.overlay-background {
  background: #85dcb0;
  background: radial-gradient(circle, #85dcb0 0%, #41b3a3 100%);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  animation: bounce-background infinite cubic-bezier(0.39, 1.15, 0.75, -0.33) 5s;
  z-index: 0;
  box-shadow: 0px 0px 0.5em 1px rgba(0, 0, 0, 0.75);
  display: flex;
  align-content: center;
  justify-content: center;
}

/* line 69, Z:/Team-Treehouse-Project-9/scss/styles.scss */
.scroll {
  align-self: flex-end;
  text-transform: uppercase;
  font-size: 1.75em;
  color: white;
  animation: fade 5s ease infinite;
}

/* line 77, Z:/Team-Treehouse-Project-9/scss/styles.scss */
.nameSubText {
  font-size: 2em;
  color: white;
  z-index: 1;
  animation: fadeIn 6s ease forwards;
  margin: 0;
}

/* line 85, Z:/Team-Treehouse-Project-9/scss/styles.scss */
.main-content-container {
  z-index: 3;
}

/* line 89, Z:/Team-Treehouse-Project-9/scss/styles.scss */
.container img {
  width: 100px;
  height: 100px;
}

/* line 94, Z:/Team-Treehouse-Project-9/scss/styles.scss */
.container p {
  font-size: 5em;
  color: white;
}

/* line 99, Z:/Team-Treehouse-Project-9/scss/styles.scss */
.myName {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

/* line 108, Z:/Team-Treehouse-Project-9/scss/styles.scss */
.myName h3 {
  margin: 0;
}

/* line 112, Z:/Team-Treehouse-Project-9/scss/styles.scss */
.skillsShowcaseContainer {
  width: 100%;
  display: flex;
  gap: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4em 0;
}

/* line 122, Z:/Team-Treehouse-Project-9/scss/styles.scss */
.portfolioContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 3em 0 3em;
}

/* line 132, Z:/Team-Treehouse-Project-9/scss/styles.scss */
.portfolioContainer .card {
  background-color: rgba(229, 229, 229, 0.35);
  margin: .75em .75em 0;
  box-shadow: 0px 0px .5em 1px #C38D9E;
  border-radius: .5em;
  width: 17em;
}

/* line 139, Z:/Team-Treehouse-Project-9/scss/styles.scss */
.portfolioContainer .card:hover {
  transform: scale(0.99);
  transition: transform .25s ease;
}

/* line 144, Z:/Team-Treehouse-Project-9/scss/styles.scss */
.portfolioContainer .card img {
  width: inherit;
  border-radius: .5em;
}

/* line 149, Z:/Team-Treehouse-Project-9/scss/styles.scss */
.portfolioContainer .card h4, .portfolioContainer .card p {
  margin: 0;
}

/* line 153, Z:/Team-Treehouse-Project-9/scss/styles.scss */
.portfolioContainer .card h4 {
  margin-bottom: .25em;
}

/* line 157, Z:/Team-Treehouse-Project-9/scss/styles.scss */
.portfolioContainer .card p {
  margin-bottom: 1em;
}

/* line 161, Z:/Team-Treehouse-Project-9/scss/styles.scss */
.portfolioContainer .card .button {
  width: 4em;
  height: 1em;
  background-color: rgba(255, 142, 16, 0.75);
  padding: .5em;
  border-radius: 1em;
  align-self: center;
  font-weight: 600;
  font-size: 1em;
  text-transform: uppercase;
  cursor: pointer;
}

/* line 173, Z:/Team-Treehouse-Project-9/scss/styles.scss */
.portfolioContainer .card .button a {
  color: black;
  text-decoration: none;
}

/* line 182, Z:/Team-Treehouse-Project-9/scss/styles.scss */
.card-text-container {
  margin: 1em 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* line 190, Z:/Team-Treehouse-Project-9/scss/styles.scss */
.socialContainer {
  display: flex;
  justify-content: center;
  gap: 1em;
  align-items: center;
  width: 100%;
  height: 10em;
}

/* line 198, Z:/Team-Treehouse-Project-9/scss/styles.scss */
.socialContainer .github {
  height: 5em;
  width: 5em;
}

/* line 202, Z:/Team-Treehouse-Project-9/scss/styles.scss */
.socialContainer .github:hover {
  transform: scale(1.1);
  transition: transform .25s ease;
}

/* line 207, Z:/Team-Treehouse-Project-9/scss/styles.scss */
.socialContainer .treehouse {
  height: 5em;
  width: 5em;
}

/* line 211, Z:/Team-Treehouse-Project-9/scss/styles.scss */
.socialContainer .treehouse:hover {
  transform: scale(1.1);
  transition: transform .25s ease;
}

/* line 216, Z:/Team-Treehouse-Project-9/scss/styles.scss */
.socialContainer .linkedin {
  height: 5em;
  width: 5em;
}

/* line 220, Z:/Team-Treehouse-Project-9/scss/styles.scss */
.socialContainer .linkedin:hover {
  transform: scale(1.1);
  transition: transform .25s ease;
}

/* line 227, Z:/Team-Treehouse-Project-9/scss/styles.scss */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3em 0;
}

/* line 234, Z:/Team-Treehouse-Project-9/scss/styles.scss */
.hero .profile {
  width: 15em;
  height: 15em;
  border-radius: 2em;
  object-fit: cover;
}

/* line 242, Z:/Team-Treehouse-Project-9/scss/styles.scss */
.heroContent {
  width: 23em;
  text-align: center;
}

/* line 246, Z:/Team-Treehouse-Project-9/scss/styles.scss */
.heroContent h3 {
  color: white;
}

/* line 250, Z:/Team-Treehouse-Project-9/scss/styles.scss */
.heroContent h4 {
  color: #43836C;
}

/* line 255, Z:/Team-Treehouse-Project-9/scss/styles.scss */
.name {
  height: 5em;
}

/* line 260, Z:/Team-Treehouse-Project-9/scss/styles.scss */
.nameBottomText {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
  color: white;
}

/* line 269, Z:/Team-Treehouse-Project-9/scss/styles.scss */
.nameBottomText p {
  font-weight: 600;
  font-size: 1.5em;
  color: #E27D60;
}

/* line 275, Z:/Team-Treehouse-Project-9/scss/styles.scss */
.nameBottomText a {
  color: white;
}

/* line 280, Z:/Team-Treehouse-Project-9/scss/styles.scss */
.skill {
  width: 100px;
  height: 100px;
}

/* line 285, Z:/Team-Treehouse-Project-9/scss/styles.scss */
.skillsHeader {
  text-align: center;
  text-transform: uppercase;
  border-bottom: #E8A87C solid thin;
  padding-bottom: .5em;
  color: #43836C;
}

/* line 294, Z:/Team-Treehouse-Project-9/scss/styles.scss */
#css3 {
  background-image: url("../images/css.png");
  background-size: cover;
  height: 100px;
  width: 100px;
  opacity: .5;
  box-shadow: 0px 0px 1em 1px #C38D9E;
}

/* line 302, Z:/Team-Treehouse-Project-9/scss/styles.scss */
#css3:hover {
  transform: scale(0.99);
  transition: transform .25s ease;
  animation: fade 3s ease infinite;
}

/* line 309, Z:/Team-Treehouse-Project-9/scss/styles.scss */
#dw {
  background-image: url("../images/dw.png");
  background-size: cover;
  height: 100px;
  width: 100px;
  opacity: .75;
  box-shadow: 0px 0px 1em 1px #C38D9E;
}

/* line 317, Z:/Team-Treehouse-Project-9/scss/styles.scss */
#dw:hover {
  transform: scale(0.99);
  transition: transform .25s ease;
  animation: fade 3s ease infinite;
}

/* line 324, Z:/Team-Treehouse-Project-9/scss/styles.scss */
#html5 {
  background-image: url("../images/html5.png");
  background-size: cover;
  height: 100px;
  width: 100px;
  opacity: .5;
  box-shadow: 0px 0px 1em 1px #C38D9E;
}

/* line 332, Z:/Team-Treehouse-Project-9/scss/styles.scss */
#html5:hover {
  transform: scale(0.99);
  transition: transform .25s ease;
  animation: fade 3s ease infinite;
}

/* line 340, Z:/Team-Treehouse-Project-9/scss/styles.scss */
#javascript {
  background-image: url("../images/javascript.png");
  background-size: cover;
  height: 100px;
  width: 100px;
  opacity: .75;
  box-shadow: 0px 0px 1em 1px #C38D9E;
}

/* line 348, Z:/Team-Treehouse-Project-9/scss/styles.scss */
#javascript:hover {
  transform: scale(0.99);
  transition: transform .25s ease;
  animation: fade 3s ease infinite;
}

/* line 355, Z:/Team-Treehouse-Project-9/scss/styles.scss */
#sass {
  background-image: url("../images/sass.png");
  background-size: cover;
  height: 100px;
  width: 100px;
  opacity: .5;
  box-shadow: 0px 0px 1em 1px #C38D9E;
}

/* line 363, Z:/Team-Treehouse-Project-9/scss/styles.scss */
#sass:hover {
  transform: scale(0.99);
  transition: transform .25s ease;
  animation: fade 3s ease infinite;
}

@keyframes content-up {
  from {
    transform: translateY(-2em);
    opacity: 1;
  }
  to {
    transform: translateY(-60em);
    opacity: 0;
    display: none;
  }
}

@keyframes profile-picture {
  100% {
    opacity: .85;
  }
  75% {
    opacity: .65;
  }
  50% {
    opacity: .75;
  }
  25% {
    opacity: .65;
  }
  0% {
    opacity: .85;
  }
}

@keyframes intro {
  from {
    transform: rotateX(90deg);
  }
  to {
    transform: rotateX(0deg);
  }
}

@keyframes bounce-background {
  100% {
    transform: translateY(0em);
  }
  75% {
    transform: translateY(-1em);
  }
  50% {
    transform: translateY(-2em);
  }
  0% {
    transform: translateY(0em);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  100% {
    opacity: .25;
  }
  75% {
    opacity: .75;
  }
  50% {
    opacity: .5;
  }
  25% {
    opacity: .75;
  }
  0% {
    opacity: .25;
  }
}

/* line 454, Z:/Team-Treehouse-Project-9/scss/styles.scss */
#wrapper {
  margin-top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

@media (min-width: 768px) {
  /* line 461, Z:/Team-Treehouse-Project-9/scss/styles.scss */
  #wrapper {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  /* line 466, Z:/Team-Treehouse-Project-9/scss/styles.scss */
  #wrapper {
    max-width: 970px;
  }
}

@media (min-width: 1200px) {
  /* line 471, Z:/Team-Treehouse-Project-9/scss/styles.scss */
  #wrapper {
    max-width: 1050px;
  }
}

@media (min-width: 1500px) {
  /* line 476, Z:/Team-Treehouse-Project-9/scss/styles.scss */
  #wrapper {
    max-width: 1200px;
  }
}

/* line 481, Z:/Team-Treehouse-Project-9/scss/styles.scss */
path {
  fill: none;
  stroke: white;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

/* line 490, Z:/Team-Treehouse-Project-9/scss/styles.scss */
.line1 {
  stroke-dasharray: 1200;
  -webkit-animation: write 3s ease-out forwards;
  animation: write 3s ease-out forwards;
}

/* line 496, Z:/Team-Treehouse-Project-9/scss/styles.scss */
.line2 {
  stroke-dasharray: 1200;
  -webkit-animation: write 3s ease-out forwards 2s;
  animation: write 3s ease-out forwards 2s;
  opacity: 0;
}

@-webkit-keyframes write {
  0% {
    stroke-dashoffset: 1200;
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}

@keyframes write {
  0% {
    stroke-dashoffset: 1200;
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}

@media (min-width: 768px) {
  /* line 528, Z:/Team-Treehouse-Project-9/scss/styles.scss */
  .skillsShowcaseContainer {
    flex-direction: row;
  }
  /* line 531, Z:/Team-Treehouse-Project-9/scss/styles.scss */
  .skillsShowcaseContainer #css3,
  .skillsShowcaseContainer #dw,
  .skillsShowcaseContainer #html5,
  .skillsShowcaseContainer #javascript,
  .skillsShowcaseContainer #sass {
    margin: 0 1em;
  }
  /* line 540, Z:/Team-Treehouse-Project-9/scss/styles.scss */
  .nameBottomText {
    flex-direction: row;
    justify-content: space-between;
  }
  /* line 543, Z:/Team-Treehouse-Project-9/scss/styles.scss */
  .nameBottomText span {
    order: 0;
  }
  /* line 547, Z:/Team-Treehouse-Project-9/scss/styles.scss */
  .nameBottomText span:first-child {
    padding-right: 7em;
  }
  /* line 552, Z:/Team-Treehouse-Project-9/scss/styles.scss */
  .hero {
    flex-direction: row;
  }
  /* line 556, Z:/Team-Treehouse-Project-9/scss/styles.scss */
  .skillsHeader {
    margin: 0 7em;
  }
  /* line 561, Z:/Team-Treehouse-Project-9/scss/styles.scss */
  .portfolioContainer .card {
    width: 20em;
  }
}

@media (min-width: 1024px) {
  /* line 569, Z:/Team-Treehouse-Project-9/scss/styles.scss */
  .skillsShowcaseContainer {
    flex-direction: row;
  }
  /* line 574, Z:/Team-Treehouse-Project-9/scss/styles.scss */
  .skillsHeader {
    margin: 0 10em;
  }
  /* line 579, Z:/Team-Treehouse-Project-9/scss/styles.scss */
  .portfolioContainer .card {
    width: 25em;
  }
}

/*# sourceMappingURL=styles.css.map */